.App {
  border: solid blue 2px;
  min-height: 100vh;
  background: #FFFFFF;
  background: -webkit-linear-gradient(to right, #ffffff, #eef2f3);
  background: linear-gradient(to right, #ffffff, #eef2f3); 
}